<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
     xmlns:g="http://base.google.com/ns/1.0">
    <channel>
        <title>Topbags productcatalogus</title>
        <link>https://www.topbags.nl</link>
        <description>Productfeed voor Meta Commerce Manager</description>

        {% for item in feedItems %}
            {% set variant = item.variant %}
            {% set imagePath = item.imagePath %}
            {% set product = variant.product %}
            {% set brand = product.brand %}

            <item>
                <g:id>{{ variant.variantSku|e }}</g:id>

                {% if product.modelSku %}
                    <g:item_group_id>{{ product.modelSku|e }}</g:item_group_id>
                {% else %}
                    <g:item_group_id>{{ product.id }}</g:item_group_id>
                {% endif %}

                <g:title>{{ (brand.name ~ ' ' ~ product.name ~ ' ' ~ variant.supplierColorName)|trim|e }}</g:title>

                <g:description>{{ product.description|default(product.name)|striptags|replace({"\n": " ", "\r": " "})|slice(0, 5000)|e }}</g:description>

                <g:link>{{ url('product_show', {
                    slug: product.slug,
                    colorSlug: variant.supplierColorSlug,
                    variantSku: variant.variantSku
                }) }}</g:link>

                {% if imagePath %}
                    <g:image_link>{{ absolute_url(asset(imagePath)) }}</g:image_link>
                {% endif %}

                {% if variant.isPurchasable %}
                    <g:availability>in stock</g:availability>
                {% else %}
                    <g:availability>out of stock</g:availability>
                {% endif %}

                <g:condition>new</g:condition>

                <g:price>{{ variant.price|number_format(2, '.', '') }} EUR</g:price>

                {% if variant.hasActiveSale %}
                    <g:sale_price>{{ variant.displayPrice|number_format(2, '.', '') }} EUR</g:sale_price>
                {% endif %}

                {% if brand %}
                    <g:brand>{{ brand.name|e }}</g:brand>
                {% endif %}

                {% if variant.ean %}
                    <g:gtin>{{ variant.ean|e }}</g:gtin>
                {% endif %}

                {% if variant.supplierColorName %}
                    <g:color>{{ variant.supplierColorName|e }}</g:color>
                {% endif %}
            </item>
        {% endfor %}
    </channel>
</rss>